// VARIABLES

$oxford-blue: #091540;
$crayola-blue: #256eff;
$french-sky-blue: #7692ff;
$maya-blue: #6cd4ff;
$light-maya-blue: #b5e9ff;
$pastel-red: #ff6657;

$primary: $crayola-blue;
$link: $oxford-blue;
$info: $french-sky-blue;
$success: $maya-blue;
$warning: $yellow;
$danger: $pastel-red;
