// VARIABLES

$oxford-blue: #091540;
$crayola-blue: #256EFF;
$french-sky-blue: #7692FF;
$maya-blue: #6CD4FF;
$light-maya-blue: #b5e9ff;
$pastel-red: #FF6657;

$primary: $crayola-blue;
$link: $oxford-blue;
$info: $french-sky-blue;
$success: $maya-blue;
$danger: $pastel-red;
